name: JRest Client CI

on:
  push:
    branches:
      - main
      - master
      - develop
  pull_request:

env:
  GRADLE_OPTS: "-Dorg.gradle.daemon=false -Dorg.gradle.workers.max=2"

defaults:
  run:
    shell: bash

jobs:
  validate-wrapper:
    runs-on: ubuntu-20.04
    steps:
      - name: Checkout code
        uses: actions/checkout@v2
      - name: Validate Gradle Wrapper
        uses: gradle/wrapper-validation-action@e6e38bacfdf1a337459f332974bb2327a31aaf4b

  build:
    runs-on: ubuntu-20.04
    steps:
      - name: Checkout code
        uses: actions/checkout@v2
      - name: Setup JDK
        uses: actions/setup-java@v2
        with:
          distribution: 'temurin'
          java-version: '11'
          cache: 'gradle'
      - name: Build project
        run: ./gradlew assemble
    needs: validate-wrapper

  test:
    runs-on: ubuntu-20.04
    strategy:
      matrix:
        stage: [test, integrationTest]
    steps:
      - name: Checkout code
        uses: actions/checkout@v2
      - name: Setup JDK
        uses: actions/setup-java@v2
        with:
          distribution: 'temurin'
          java-version: '11'
          cache: 'gradle'
      - name: Run ${{matrix.stage}} tests
        run: ./gradlew ${{matrix.stage}} --scan
      - name: Upload ${{matrix.stage}} report
        uses: EnricoMi/publish-unit-test-result-action@v1
        with:
          files: build/test-results/${{matrix.stage}}/*.xml
        if: always()
      needs: build
